<header fxLayoutAlign="start center">
    <div fxFlex fxLayoutAlign="start end" fxLayoutGap="10">
        <mat-icon color="accent" class="logoIcon">store</mat-icon>
        <span class="logo">{{title}}</span>
    </div>
    <div fxLayoutGap="10" fxLayoutAlign="start center">
        <button mat-raised-button color="primary" routerLink="">Strona Główna</button>
        <button mat-raised-button color="accent" routerLink="/products">Produkty</button>
        <span></span>
        <button mat-raised-button color="warn" routerLink="/login">Zaloguj</button>
        <a routerLink="/cart"><mat-icon color="accent" class="shpoppingBasket" matBadge="{{cartProductCounter}}" matBadgeColor="warn">shopping_basket</mat-icon></a>
    </div>
</header>
