@import "../../../variables.scss";
.description, .fullDescription{
    margin-top:20px;
    margin-bottom: 25px;
}
.price{
    font-size: 30px;
    font-weight: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $warn;
}